*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 160px;
    --mark-size: calc(var(--cell-size)* .9);
}

body {
    margin: 0;
    background-color: #fefae0;
    /* height: 100vh; */
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    background-color: #2d2c26;
    margin: 50px auto;
    border-radius: 10px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color:azure;
    border: 1.5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}



.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: black;
}

.container.x .cell:not(.x):not(.o):hover::before,
.container.x .cell:not(.x):not(.o):hover::after,
.container.o .cell:not(.x):not(.o):hover::before {
    background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.container.x .cell:not(.x):not(.o):hover::before,
.container.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.container.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.container.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.container.o .cell:not(.x):not(.o):hover::before,
.container.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.container.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
.container.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #fefae0;
}

.winningMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: #fefae0;
    font-size: 5rem;
    flex-direction: column;
}

.winningMessage button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winningMessage button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winningMessage.show {
    display: flex;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9edc9;
    padding:15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.scoreboard div {
    margin: 0 20px;
    font-weight: bold;
}
.scoreboard span {
    font-size: 2rem;
    color: #283618;
}

.scoreboard button {
    padding: 7px;
    font-size: 1rem;
    background-color: #dda15e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.scoreboard button:hover {
    background-color: black;
    color: white;
   transform: scale(1.1);
   transition: all 0.3s ease;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #31441b;
    padding:15px 0;
    flex-direction: column;

}

header h1 {
    color: #fefae0;
    font-size: 3.5rem;
    margin: 0px 0px 50px 0px;
}

.player-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0px 0px 20px 0px;
}

.player-info input {
    width: 200px;
    padding: 7px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.player-info button {
    padding: 7px;
    font-size: 1rem;
    background-color: #dda15e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.player-info button:hover {
    background-color: #fefae0;
    color: black;
    transform: scale(1.1);
    transition: all 0.3s ease;
}